<div class="container">
  <div
    class="row justify-content-center align-items-center"
    style="height: 100vh"
  >
    <div class="col-4">
      <div class="card">
        <div class="card-body">
          <div class="text-center mb-5">
            <img
              src="https://icon-library.com/images/login-icon/login-icon-3.jpg"
              height="48"
              class="mb-4"
            />
            <h3>Iniciar sesión</h3>
            <p>Continúa con tu cuenta de Google</p>
          </div>
          <form [formGroup]="formLogin" (ngSubmit)="onSubmit()">
            <div class="form-group mb-3">
              <input
                type="email"
                placeholder="Correo electrónico"
                class="form-control"
                formControlName="email"
              />
            </div>
            <div class="form-group mb-2">
              <input
                type="password"
                placeholder="Contraseña"
                class="form-control"
                formControlName="password"
              />
            </div>
            <div class="d-grid gap-2" class="text-center mb-5">
              <button type="submit" class="btn btn-primary">
                Iniciar sesión
              </button>

            </div>
            <firebase-ui></firebase-ui>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>