<div class="container mt-4">
    <div class="row">
      <div class="col-lg-5 mb-5" style="margin-left: -150px;">
        <div class="card">
          <div class="card-body">
            <h3 class="card-title">{{ editandoId !== null ? 'Editar Menú' : 'Nuevo Menú' }}</h3>
            <form (submit)="guardarEdicion()" #menuForm="ngForm">
              <div class="form-group">
                <label for="nombre" class="lead">Nombre:</label>
                <input type="text" class="form-control" id="nombre" [(ngModel)]="nuevoMenu.nombrem" name="nombre" required
                       pattern="^[A-Za-z\s]+$" (keypress)="validarLetras($event)">
                <div *ngIf="menuForm.controls['nombre'].invalid && (menuForm.controls['nombre'].dirty || menuForm.controls['nombre'].touched)">
                  
                  <span class="text-danger" *ngIf="!menuForm.controls['nombre'].errors?.['required'] && menuForm.controls['nombre'].errors?.['pattern']">Solo se permiten letras en el nombre.</span>
                </div>
              </div>
              
              <button type="submit" class="btn btn-primary">{{ editandoId !== null ? 'Guardar Cambios' : 'Crear Nuevo' }}</button>
            </form>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card">
          <div class="card-body">
  
            <div class="d-flex align-items-center">
              <h3 class="card-title">Listado de Menús - {{ filtroEstado === 'A' ? 'Activos' : 'Inactivos' }}</h3>
              <button (click)="exportarAExcel()" class="btn btn-primary ml-auto">Exportar a Excel</button>
            </div>
  
            <div class="mb-3">
              <label for="filtroEstado">Filtrar por Estado:</label>
              <select id="filtroEstado" [(ngModel)]="filtroEstado" (change)="cambiarFiltroEstado()">
                <option value="A">Activos</option>
                <option value="I">Inactivos</option>
              </select>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                  <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Estado</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let menu of menus">
                    <td>{{ menu.menuid }}</td>
                    <td>{{ menu.nombrem }}</td>
                    
                    
                   <!-- <td>{{ menu.estado }}</td> -->
                    
                    <td>
                      <span [ngClass]="{'': menu.estado === 'A', 'badge badge-danger': menu.estado === 'I'}">
                        {{ menu.estado === 'A' ? 'Activo' : 'Inactivo' }}
                      </span>
                    </td>
  
                    <td>
                      <button *ngIf="mostrarBoton(menu.estado) && filtroEstado === 'A'" class="btn btn-danger btn-sm" (click)="eliminarMenu(menu.menuid)">Eliminar</button>
                      <button *ngIf="mostrarBoton(menu.estado) && filtroEstado === 'A'" class="btn btn-primary btn-sm" (click)="editarMenu(menu.menuid)">Editar</button>
                      <button *ngIf="mostrarBoton(menu.estado) && filtroEstado === 'I'" class="btn btn-success btn-sm" (click)="restaurarMenu(menu.menuid)">Restaurar</button>
                    </td>
  
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  