
<div class="container mt-3">
  <h3 class="text-center mb-">Listado de Usuarios</h3>
  
  <div class="d-flex justify-content-between mb-3">
    <div>
      <button class="btn btn-success btn-sm ml-2" (click)="exportCSV()">
        <i class="fas fa-download mr-1"></i> Descargar CSV
      </button>
      <button class="btn btn-danger btn-sm ml-2">
        <i class="fas fa-download mr-1"></i> Descargar PDF
      </button>
    </div>
    <form [formGroup]="searchForm" (ngSubmit)="filterUsers()" class="d-flex align-items-center">
      <div class="form-group mb-0 d-flex align-items-center">
        <label for="rol" class="mb-0 mr-2">Filtrar:</label>
        <select class="form-control" id="rol" formControlName="rol">
          <option value="">Todos</option>
          <option value="admin">Admin</option>
          <option value="gestor">Gestor</option>
          <option value="comensal">Comensal</option>
        </select>
      </div>
    </form>
  </div>

  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th>Correo</th>
          <th>Nombre</th>
          <th>Rol</th>
          <th>Dirección</th>
          <th>DNI</th>
          <th>Estado</th>
          <th>RUC</th>
          <th class="text-center">-ACCIONES-</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of filteredUsers; index as i">
          <td *ngIf="!user.editable">{{ user.email }}</td>
          <td *ngIf="user.editable"><input [(ngModel)]="user.email" class="form-control"></td>
          <td *ngIf="!user.editable">{{ user.name }}</td>
          <td *ngIf="user.editable"><input [(ngModel)]="user.name" class="form-control"></td>
          <td *ngIf="!user.editable">{{ user.role }}</td>
          <td *ngIf="user.editable"><input [(ngModel)]="user.role" class="form-control"></td>
          <td *ngIf="!user.editable">{{ user.direccion }}</td>
          <td *ngIf="user.editable"><input [(ngModel)]="user.direccion" class="form-control"></td>
          <td *ngIf="!user.editable">{{ user.dni }}</td>
          <td *ngIf="user.editable"><input [(ngModel)]="user.dni" class="form-control"></td>
          <td *ngIf="!user.editable">{{ user.estado }}</td>
          <td *ngIf="user.editable"><input [(ngModel)]="user.estado" class="form-control"></td>
          <td *ngIf="!user.editable">{{ user.ruc }}</td>
          <td *ngIf="user.editable"><input [(ngModel)]="user.ruc" class="form-control"></td>
          <td>
            <button class="btn btn-primary btn-sm" *ngIf="!user.editable" (click)="editarUsuario(user)">Editar</button>
            <button class="btn btn-success btn-sm" *ngIf="user.editable"
              (click)="confirmarEdicion(user)">Confirmar</button>
            <button class="btn btn-danger btn-sm" (click)="eliminarOrestaurarUsuario(user)">
              {{ user.estado === 'A' ? 'Eliminar' : 'Restaurar' }}
            </button>
            <button class="btn btn-secondary btn-sm" *ngIf="user.editable"
              (click)="cancelarEdicion(user)">Cancelar</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
