<div class="container">
    <br>
    <div class="row">
        <div class="col-12">
            <button class="btn btn-success float-right" data-toggle="modal" data-target="#agregarReservaModal"
                (click)="nuevaReserva()">Agregar Reserva</button>
            <div class="dropdown float-right mr-2">
                <button class="btn btn-primary dropdown-toggle" type="button" id="filtroDropdown" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-filter"></i> Filtrar
                </button>
                <button class="btn btn-warning float-left mr-2" (click)="generarReportePDF()">
                    <i class="fa fa-file-alt"></i> Reporte
                </button>                
                <div class="dropdown-menu" aria-labelledby="filtroDropdown">
                    <button class="dropdown-item" (click)="filtrarReservas('')"
                        [class.active]="filtroReservas === ''">Todos</button>
                    <button class="dropdown-item" (click)="filtrarReservas('/activo')"
                        [class.active]="filtroReservas === '/activo'">Activos</button>
                    <button class="dropdown-item" (click)="filtrarReservas('/inactivo')"
                        [class.active]="filtroReservas === '/inactivo'">Inactivos</button>
                </div>
            </div>
            <h1>Listado de Reservas</h1>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nro</th>
                    <th>Cliente ID</th>
                    <th>Restaurante ID</th>
                    <th>Email</th>
                    <th>Fecha de Destino</th>
                    <th>Personas</th>
                    <th>Monto</th>
                    <th>Observación</th>
                    <th>Situación</th>
                    <th>Estado</th>
                    <th class="text-center">Acciones</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reserva of reservas">
                    <td><strong>{{ reserva.id }}</strong></td>
                    <td>{{ reserva.cliente_id }}</td>
                    <td>{{ reserva.restaurante_id }}</td>
                    <td>{{ reserva.email }}</td>
                    <td>{{ reserva.fecha_destino }}</td>
                    <td>{{ reserva.personas }}</td>
                    <td>{{ reserva.monto }}</td>
                    <td>{{ reserva.observacion }}</td>
                    <td [ngSwitch]="reserva.situacion">
                        <span *ngSwitchCase="'C'">CONFIRMADO</span>
                        <span *ngSwitchCase="'P'">PENDIENTE</span>
                        <span *ngSwitchCase="'S'">SERVIDO</span>
                        <span *ngSwitchCase="'R'">RECHAZADO</span>
                    </td>
                    <td class="text-center">
                        <button class="btn"
                            [ngClass]="{'btn-success': reserva.estado === 'A', 'btn-danger': reserva.estado === 'I'}"
                            style="width: 65px; pointer-events: none;">
                            {{ reserva.estado === 'A' ? 'Activo' : 'Inactivo' }}
                        </button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-primary mr-1" (click)="editarReserva(reserva)"
                            data-target="#editarCategoriaModal" data-toggle="modal">Editar</button>
                        <button class="btn"
                            [ngClass]="{'btn-success': reserva.estado === 'I', 'btn-danger': reserva.estado === 'A'}"
                            (click)="reserva.estado === 'I' ? cambiarEstadoReserva(reserva) : eliminarReserva(reserva)"
                            style="width: 67px;">
                            {{ reserva.estado === 'I' ? 'Activar' : 'Eliminar' }}
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Cuadro de diálogo para agregar reserva -->
    <div class="modal fade" id="agregarReservaModal" tabindex="-1" role="dialog"
        aria-labelledby="agregarReservaModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="agregarReservaModalLabel">{{ modoEdicion ? 'Editar' : 'Agregar' }}
                        Reserva</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form (ngSubmit)="guardarReserva()" #reservaForm="ngForm">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="cliente_id">Cliente ID:</label>
                                    <input type="text" class="form-control" id="cliente_id" name="cliente_id"
                                        [(ngModel)]="reserva.cliente_id" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="restaurante_id">Restaurante ID:</label>
                                    <input type="text" class="form-control" id="restaurante_id" name="restaurante_id"
                                        [(ngModel)]="reserva.restaurante_id" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email">Email:</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                        [(ngModel)]="reserva.email" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="fecha_destino">Fecha Destino:</label>
                                    <input type="datetime-local" class="form-control" id="fecha_destino"
                                        name="fecha_destino" [(ngModel)]="reserva.fecha_destino" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="personas">Personas:</label>
                                    <input type="number" class="form-control" id="personas" name="personas"
                                        [(ngModel)]="reserva.personas" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="monto">Monto:</label>
                                    <input type="number" class="form-control" id="monto" name="monto"
                                        [(ngModel)]="reserva.monto" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="observacion">Observación:</label>
                            <input type="text" class="form-control" id="observacion" name="observacion"
                                [(ngModel)]="reserva.observacion" required>
                        </div>
                        <div class="form-group">
                            <label for="situacion">Situación:</label>
                            <input type="text" class="form-control" id="situacion" name="situacion"
                                [(ngModel)]="reserva.situacion" required>
                        </div>
                        <!-- Detalles de la reserva -->
                        <div class="form-group">
                            <h5>Detalles de la Reserva</h5>
                            <button type="button" class="btn btn-secondary mb-2"
                                (click)="agregarDetalleReserva()">Añadir Plato</button>
                        </div>
                        <div *ngFor="let detalle of reserva.reserva_detalle; let i = index"
                            class="form-row align-items-end">
                            <div class="form-group col-md-4">
                                <label for="id_carta_{{ i }}">ID Carta:</label>
                                <input type="number" class="form-control" id="id_carta_{{ i }}"
                                    [(ngModel)]="detalle.id_carta" name="id_carta_{{ i }}" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="cantidad_{{ i }}">Cantidad:</label>
                                <input type="number" class="form-control" id="cantidad_{{ i }}"
                                    [(ngModel)]="detalle.cantidad" name="cantidad_{{ i }}" required>
                            </div>
                            <div class="form-group col-md-4">
                                <button type="button" class="btn btn-danger mt-4"
                                    (click)="eliminarDetalleReserva(i)">Eliminar</button>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                (click)="cerrarModal()">Cerrar</button>
                            <button type="submit" class="btn btn-primary">{{ modoEdicion ? 'Guardar Cambios' : 'Agregar
                                Reserva' }}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Cuadro de diálogo para editar reserva -->
    <div class="modal fade" id="editarReservaModal" tabindex="-1" role="dialog"
        aria-labelledby="editarReservaModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editarReservaModalLabel">Editar Reserva</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrarModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form (ngSubmit)="guardarReserva()" #reservaForm="ngForm">
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="cliente_id">Cliente ID:</label>
                                    <input type="text" class="form-control" id="cliente_id" name="cliente_id"
                                        [(ngModel)]="reserva.cliente_id" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="restaurante_id">Restaurante ID:</label>
                                    <input type="text" class="form-control" id="restaurante_id" name="restaurante_id"
                                        [(ngModel)]="reserva.restaurante_id" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="email">Email:</label>
                                    <input type="email" class="form-control" id="email" name="email"
                                        [(ngModel)]="reserva.email" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="fecha_destino">Fecha Destino:</label>
                                    <input type="datetime-local" class="form-control" id="fecha_destino"
                                        name="fecha_destino" [(ngModel)]="reserva.fecha_destino" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="personas">Personas:</label>
                                    <input type="number" class="form-control" id="personas" name="personas"
                                        [(ngModel)]="reserva.personas" required>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="monto">Monto:</label>
                                    <input type="number" class="form-control" id="monto" name="monto"
                                        [(ngModel)]="reserva.monto" required>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="observacion">Observación:</label>
                            <input type="text" class="form-control" id="observacion" name="observacion"
                                [(ngModel)]="reserva.observacion" required>
                        </div>
                        <div class="form-group">
                            <label for="situacion">Situación:</label>
                            <input type="text" class="form-control" id="situacion" name="situacion"
                                [(ngModel)]="reserva.situacion" required>
                        </div>
                        <!-- Detalles de la reserva -->
                        <div class="form-group">
                            <h5>Detalles de la Reserva</h5>
                            <button type="button" class="btn btn-secondary mb-2"
                                (click)="agregarDetalleReserva()">Cambiar Plato</button>
                        </div>
                        <div *ngFor="let detalle of reserva.reserva_detalle; let i = index"
                            class="form-row align-items-end">
                            <div class="form-group col-md-4">
                                <label for="id_carta_{{ i }}">ID Carta:</label>
                                <input type="number" class="form-control" id="id_carta_{{ i }}"
                                    [(ngModel)]="detalle.id_carta" name="id_carta_{{ i }}" required>
                            </div>
                            <div class="form-group col-md-4">
                                <label for="cantidad_{{ i }}">Cantidad:</label>
                                <input type="number" class="form-control" id="cantidad_{{ i }}"
                                    [(ngModel)]="detalle.cantidad" name="cantidad_{{ i }}" required>
                            </div>
                            <div class="form-group col-md-4">
                                <button type="button" class="btn btn-danger mt-4"
                                    (click)="eliminarDetalleReserva(i)">Eliminar</button>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                (click)="cerrarModal()">Cerrar</button>
                            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>