<div class="container">
  <h1 class="text-center my-4">Bienvenido a nuestro sitio de platos</h1>
  <p class="lead text-center">Explora y disfruta de nuestra selección de platos.</p>

  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let plato of platos">
      <div class="card shadow-sm">
        <img class="card-img-top" [src]="plato.image" alt="Imagen de plato">
        <div class="card-body">
          <h5 class="card-title">{{ plato.nombre }}</h5>
          <p class="card-text">{{ plato.descripcion }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div style="color: red; font-weight: 600;">S/ {{ plato.precio.toFixed(2) }}</div>
            <div style="color: grey; text-decoration: line-through;">S/ {{ getPrecioTachado(plato.precio).toFixed(2) }}</div>
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex">
            <div class="tag" style="background-color: #6c757d;"><i class="bi bi-tags-fill"></i> {{ plato.categoria_detalle.nombre }}</div>
            <div class="tag" style="background-color: #6c757d;"><i class="bi bi-tags-fill"></i> {{ plato.presentacion_detalle.tipo }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <h2 class="text-center my-4">Carrusel de imágenes</h2>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://images.pexels.com/photos/674010/pexels-photo-674010.jpeg" class="d-block w-100" alt="Plato 1">
      </div>
      <div class="carousel-item">
        <img src="https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg" class="d-block w-100" alt="Plato 2">
      </div>
      <div class="carousel-item">
        <img src="https://images.pexels.com/photos/3026806/pexels-photo-3026806.jpeg" class="d-block w-100" alt="Plato 3">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
