<div class="container">
  <div class="d-flex justify-content-between align-items-center my-4">
    <h1>Bienvenido a nuestro sitio de platos</h1>
    <div class="input-group search-bar">
      <input type="text" [(ngModel)]="searchTerm" placeholder="Buscar plato" (input)="searchPlatos()" class="form-control">
      <div class="input-group-append">
        <span class="input-group-text"><i class="bi bi-search"></i></span>
      </div>
    </div>
  </div>
  <p class="lead">Explora y disfruta de nuestra selección de platos.</p>


  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let plato of platos">
      <div class="card shadow-sm">
        <img class="card-img-top" [src]="plato.image" alt="Imagen de plato">
        <div class="card-body">
          <h5 class="card-title">{{ plato.nombre }}</h5>
          <p class="card-text">{{ plato.descripcion }}</p>
          <div class="d-flex justify-content-between align-items-center">
            <div style="color: red; font-weight: 600;">S/ {{ plato.precio.toFixed(2) }}</div>
            <div style="color: grey; text-decoration: line-through;">S/ {{ getPrecioTachado(plato.precio).toFixed(2) }}</div>
          </div>
        </div>
        <div class="card-footer">
          <div class="d-flex">
            <div class="tag" style="background-color: #6c757d;"><i class="bi bi-tags-fill"></i> {{ plato.categoria_detalle.nombre }}</div>
            <div class="tag" style="background-color: #6c757d;"><i class="bi bi-tags-fill"></i> {{ plato.presentacion_detalle.tipo }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

<footer class="footer">
  <div class="container">
    <p class="text-muted text-center">© 2024 AS212. Todos los derechos reservados.</p>
  </div>
</footer>