body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#contenidoRestaurante {
    padding-top: 100px;
}

.container {
    padding: 20px;
}

.btn-selector {
    background-color: var(--bordes);
    color: #fff;
    border-radius: 50px;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
}

.btn-selector:hover {
    background-color: #0056b3;
    color: #fff;
}

.mt-5 {
    margin-top: 3rem;
}

.mt-3 {
    margin-top: 1rem;
}

.card {
    background: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 900px;
}

.card h2 {
    font-size: 24px;
    font-weight: bold;
}

.table-responsive {
    overflow-x: auto;
}

.table {
    margin-bottom: 0;
}

.table th,
.table td {
    text-align: center;
    vertical-align: middle;
}

.table img {
    max-width: 80px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-selector {
    background-color: var(--bordes);
    color: #fff;
    border-radius: 50px;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
}

.btn-selector:hover {
    background-color: #0056b3;
    color: #fff;
}

.d-flex .btn {
    margin: 0 10px;
}

.mt-5 {
    margin-top: 3rem;
}

.mt-3 {
    margin-top: 1rem;
}

.input-group-append button {
    cursor: pointer;
}

@media (max-width: 768px) {
    .card {
        max-width: 100%;
        margin: 10px;
    }

    .table-responsive {
        -webkit-overflow-scrolling: touch;
    }

    .btn {
        margin: 5px 0;
    }
}

#titulo {
    margin-top: 90px;
}

body {
    background-image: url('/src/assets/img/selector.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.container {
    margin-top: 80px;
}

.text-center {
    text-align: center;
}

.btn-selector {
    background-color: var(--bordes);
    color: #fff;
    border-radius: 50px;
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
}

.btn-selector:hover {
    background-color: #0056b3;
    color: #fff;
}

.d-flex .btn {
    margin: 0 10px;
}

.mt-5 {
    margin-top: 3rem;
}

.mt-3 {
    margin-top: 1rem;
}

#test {
    padding-top: 100px;
}