<!-- Presentación del restaurante -->
<div *ngIf="restauranteSeleccionado" class="container-fluid px-0" id="contenidoRestaurante">
  <div class="text-center py-4">
    <h2 class="mb-0">{{ restauranteSeleccionado.nombre }} - Presentación</h2>
  </div>
  <div class="container mt-4 py-4 px-3">
    <div class="row">
      <div class="col-md-8 order-md-1">
        <p><i class="fas fa-map-marker-alt"></i> {{ restauranteSeleccionado.direccion }}</p>
        <p><i class="fas fa-phone"></i> Teléfono: {{ restauranteSeleccionado.telefono }}</p>
        <p><i class="fas fa-users"></i> Capacidad: {{ restauranteSeleccionado.capacidadPersonas }} personas</p>
        <p><i class="fas fa-star"></i> Calificación: {{ restauranteSeleccionado.calificacion }} / 5</p>
        <p>
          <i class="fas fa-clock"></i>
          <span [ngClass]="{
              'text-success': estaAbierto && restauranteSeleccionado.estadoActivo,
              'text-danger': (!estaAbierto || !restauranteSeleccionado.estadoActivo)
            }">
            {{ estaAbierto && restauranteSeleccionado.estadoActivo ? 'Abierto' : 'Cerrado' }} -
            Horario de apertura: {{ formatearHorario(restauranteSeleccionado.horarioFuncionamiento, 'apertura') }} -
            Horario de cierre: {{ formatearHorario(restauranteSeleccionado.horarioFuncionamiento, 'cierre') }}
          </span>
        </p>
        <p><i class="fas fa-utensils"></i> Se especializa en: {{ restauranteSeleccionado.tipoCocina }}</p>
        <p class="text-danger" *ngIf="!estaAbierto || !restauranteSeleccionado.estadoActivo">
          {{ !restauranteSeleccionado.estadoActivo ? 'Restaurante inactivo' : 'Ahorita está cerrado, regresa mañana por
          favor.' }}
        </p>
        <div class="d-flex justify-content-center mt-3">
          <button type="button" class="btn btn-selector mx-2" (click)="selectOption('platos')">Platos a la
            Carta</button>
          <button type="button" class="btn btn-selector mx-2" (click)="selectOption('vista')">Menús</button>
        </div>
      </div>
      <div class="col-md-4 order-md-2">
        <img *ngIf="restauranteSeleccionado.imagenRestaurante" [src]="restauranteSeleccionado.imagenRestaurante"
          alt="Logo del Restaurante" class="img-fluid rounded-circle mb-3" style="max-width: 150px;">
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-md-12">
        <ng-container *ngIf="selectedOption === 'platos'">
          <app-platocarta></app-platocarta>
        </ng-container>
        <ng-container *ngIf="selectedOption === 'vista'">
          <app-menu></app-menu>
        </ng-container>
      </div>
    </div>
  </div>
</div>
