<!-- Sección de bienvenida -->
<div class="col-md-12 bg-light-gray mat-elevation-z2 py-2">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-md-8 title-white">
        <h1 class="text-center mt-0 title-text-white">¡Bienvenido a nuestra plataforma!</h1>
        <p class="lead text-center">Gracias por unirte a nosotros. Estamos emocionados de tenerte aquí.</p>
      </div>        
    </div>
  </div>
</div>

<!-- Opciones de gestor -->
<div class="container-fluid my-4">
  <div class="row justify-content-center">
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Iniciar sesión como gestor</h5>
          <p class="card-text">Accede a tu cuenta de gestor para administrar tus actividades.</p>
          <button class="btn btn-primary" (click)="irARestaurante()">Iniciar Sesión</button>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Registrarse como gestor</h5>
          <p class="card-text">¿No tienes cuenta? Regístrate como gestor para comenzar.</p>
          <button class="btn btn-secondary" (click)="irAGestor()">Registrarse</button>
        </div>
      </div>
    </div>
  </div>
</div>
