<div class="container">
    <br>
    <br>
    <div class="row">
        <div class="col-12">
            <button class="btn btn-success float-right" data-toggle="modal" data-target="#agregarCategoriaModal"
                (click)="nuevoCategoria()">Agregar Categoria</button>
            <div class="dropdown float-right mr-2">
                <button class="btn btn-primary dropdown-toggle" type="button" id="filtroDropdown" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-filter"></i> Filtrar
                </button>
                <div class="dropdown-menu" aria-labelledby="filtroDropdown">
                    <button class="dropdown-item" (click)="filtrarCategorias('')"
                        [class.active]="filtroCategorias === ''">Todos</button>
                    <button class="dropdown-item" (click)="filtrarCategorias('/activo')"
                        [class.active]="filtroCategorias === '/activo'">Activos</button>
                    <button class="dropdown-item" (click)="filtrarCategorias('/inactivo')"
                        [class.active]="filtroCategorias === '/inactivo'">Inactivos</button>
                </div>
                <br>
                <br>
                <br>
            </div>
            <h1>Listado de Categoria</h1>
        </div>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nro</th>
                        <th>Nombre</th>
                        <th class="text-center">Estado</th>
                        <th class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let categoria of categorias">
                        <td><strong>{{ categoria.id}}</strong></td>
                        <td>{{ categoria.nombre }}</td>
                        <td class="text-center">
                            <button class="btn"
                                [ngClass]="{'btn-success': categoria.estado === 'A', 'btn-danger': categoria.estado === 'I'}"
                                style="width: 100px; pointer-events: none;">
                                {{ categoria.estado === 'A' ? 'Activo' : 'Inactivo' }}
                            </button>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-primary mr-1" (click)="editarCategoria(categoria)"
                                data-target="#editarCategoriaModal" data-toggle="modal">Editar</button>
                            <button class="btn"
                                [ngClass]="{'btn-success': categoria.estado === 'I', 'btn-danger': categoria.estado === 'A'}"
                                (click)="categoria.estado === 'I' ? cambiarEstadoCategoria(categoria) : eliminarCategoria(categoria)"
                                style="width: 100px;">
                                {{ categoria.estado === 'I' ? 'Activar' : 'Eliminar' }}
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Cuadro de diálogo para agregar nuevo categoria-->
        <div class="modal fade" id="agregarCategoriaModal" tabindex="-1" role="dialog"
            aria-labelledby="agregarCategoriaModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document" style="margin-top: 6%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="agregarCategoriaModalLabel">{{ modoEdicion ? 'Editar' : 'Agregar' }}
                            Categoria</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            (click)="cerrarModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form (ngSubmit)="guardarCategoria()" #categoriaForm="ngForm">
                            <div class="form-group">
                                <label for="nombre">Nombre(s):</label>
                                <input type="text" class="form-control" id="nombre" [(ngModel)]="categoria.nombre"
                                    name="nombre" required>
                                <div *ngIf="categoriaForm.controls['nombre'].invalid && categoriaForm.controls['nombre'].touched"
                                    class="text-danger">Campo requerido</div>
                            </div>
                            <div class="form-group">
                                <label for="estado">Estado:</label>
                                <select class="form-control" id="estado" [(ngModel)]="categoria.estado" name="estado"
                                    required disabled>
                                    <option value="A">Activo</option>
                                    <option value="I">Inactivo</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">{{ modoEdicion ? 'Guardar' : 'Agregar' }}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!-- Cuadro de diálogo para editar comensal -->
        <div class="modal fade" id="editarCategoriaModal" role="dialog" aria-labelledby="editarCategoriaModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document" style="margin-top: 6%;">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editarCategoriaModalLabel">Editar Categoria</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                            (click)="cerrarModal()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form (ngSubmit)="guardarCategoria()" #categoriaForm="ngForm">
                            <div class="form-group">
                                <label for="nombre">Nombre(s):</label>
                                <input type="text" class="form-control" id="nombre" [(ngModel)]="categoria.nombre"
                                    name="nombre" required>
                                <div *ngIf="categoriaForm.controls['nombre'].invalid && categoriaForm.controls['nombre'].touched"
                                    class="text-danger">Campo requerido</div>
                            </div>
                            <div class="form-group">
                                <div *ngIf="categoriaForm.controls['estado'].invalid && categoriaForm.controls['estado'].touched"
                                    class="text-danger">Campo requerido</div>
                            </div>
                            <button type="submit" class="btn btn-primary">{{ modoEdicion ? 'Guardar' : 'Agregar' }}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
